.left {
  flex-basis: 5%;
}

.right {
  flex-grow: 1;
}

.header {
  text-align: left;
}

.quote {
  color: blue;
  font-style: italic;
  font-weight: bold;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
