.main {
  justify-content: center;
  text-align: center;
  display: flex;
}

.imagecontainer {
  padding-top: 220px;
}

.image {
  height: 200px;
  width: 180px;
}

.form {
  padding-left: 60px;
  padding-top: 200px;
  display: grid;
}

.field {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 25px 0px #888;
  border: none;
  outline: none;
  background-color: #fff;
  padding-left: 30px;
  font-size: 20px;
}

.icon {
  height: 30px;
  width: 30px;
  position: absolute;
  padding: 3px;
}

/* .button {
  width: 150px;
  height: 30px;
  border-radius: 60px;
  background-color: #b103fc;
  color: white;
  font-size: 15px;
  border: none;
} */
